<!-- <md-toolbar class="titre">{{ $ctrl.titre }}</md-toolbar> -->

<!-- Afficher la liste des patients pour chaque Infirmier -->
<div class="md-whiteframe-2dp" ng-cloak>


  <md-toolbar >
    <div class="md-toolbar-tools">

      <h2>
        <span>Gestion des infimiers </span>
      </h2>
      <span flex></span>

      <md-button ng-click= "$ctrl.showFormulaire()" class="md-icon-button" aria-label="More">
        <md-icon md-svg-icon="../../images/svg/design/ic_expand_more_48px.svg"></md-icon>
      </md-button>

    </div>
  </md-toolbar>

  <md-content class="md-padding">
      <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
        	<md-tab ng-repeat="inf in $ctrl.data.objectInfirmiers | orderBy:inf.nom"
                  ng-disabled="tab.disabled"
                  label="{{inf.nom | uppercase}} {{inf.prenom}}"
                  ng-click="$ctrl.getOngletInfirmier(inf.id)">
          	<md-content class="demo-tab","tab-content"
                        layout="row"
                        ng-drop="true"
                        ng-drop-success="$ctrl.onDropPatient($data)">
            		<md-list  ng-repeat="patientX in inf.patients"
                          layout="row">
                      <!-- <md-content layout="row"
                                  ng-drag="true"
                                  ng-drag-data="obj"> -->
                      <md-content layout="row">

                        <!-- affiche un patient -->
              					<patient data="patientX" layout-padding></patient>

                        <!-- actions sur un patient
                        <div class="lock-size" layout="row" layout-align="center center">
                          <md-fab-speed-dial
                              md-direction="up"
                              ng-class="md-scale"
                              md-open="$ctrl.isOpen">
                            <md-fab-trigger>
                              <md-button aria-label="menu" class="md-fab md-warn">
                                <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
                              </md-button>
                            </md-fab-trigger>
                            <md-fab-actions>
                                <md-button
                                  class="md-fab md-raised md-mini"
                                  ng-click="$ctrl.modifierPatient(ev)"
                                  type="submit">
                                  Modifier</md-button>
                                <md-button
                                  class="md-fab md-raised md-mini"
                                  ng-click="$ctrl.desaffecterPatient(patientX)"
                                  type="submit">
                                  Désaffecter</md-button> -->
                                <md-button
                                  class="md-primary md-raised"
                                  ng-click="$ctrl.supprimerPatient(patientX.id)">
                                  Supprimer</md-button>
                            <!-- </md-fab-actions>
                                                      </md-fab-speed-dial>
                                                    </div> -->
                        <md-divider ng-if="!$last"></md-divider>
                      </md-content>
            		</md-list-item>
  	        </md-content>
        	</md-tab>
      </md-tabs>
  </md-content>
  </br>


<!-- Ajouter un patient au tableau -->
  <md-toolbar >
    <div class="md-toolbar-tools">
      <h2><span>Ajouter un patient </span></h2>
      <span flex></span>
      <md-button ng-click= "$ctrl.showFormulaire()" class="md-icon-button" aria-label="More">
        	<md-icon md-svg-icon="../../images/svg/design/ic_expand_more_48px.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content class="md-padding" layout-align="center">
    <formulaire-new-patient data="$ctrl.data"
                            ng-show="$ctrl.formulaire == true"
                            on-validation="$ctrl.updateInfirmiers()">
    </formulaire-new-patient>
  </md-content>
  </br>


<!-- Liste des patients restants de patient restant -->
	<md-toolbar >
      <div class="md-toolbar-tools">
        <h2><span>Patients non affectés</span></h2>
        <span flex></span>

        <md-button ng-click= "$ctrl.showPatientsRestants()" class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="../../images/svg/design/ic_expand_more_48px.svg"></md-icon>
        </md-button>

      </div>
    </md-toolbar>

    <div class="superman" ng-show="$ctrl.patientsRestants == true" layout="row">

          <div  class="md-whiteframe-2dp"
                ng-repeat="patientY in $ctrl.data.objectPatients"
                ng-if="patientY.infirmier == null"
                ng-drag="true"
                ng-drag-data="patientY.id"
                ng-drag-handle="true">
            <md-content>
    			   <patient data="patientY"></patient>
            </md-content>
          </div>
    </div>


</div>






<!--
        <patient-map  data="$ctrl.data"> </patient-map>

 -->





