.titre{
  height: 25px;
  text-align: center;
  }

.lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  max-height: 30px;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

.superman{
  background-color: #f6f6f6;
  cursor: move;
}

[ng-drag].drag-over{
        border:solid 1px red;
    }

[ng-drop].drag-enter{
    border:solid 5px red;
}

.md-whiteframe-2dp{
  margin: 10%;
}

.tableau-infirmier{
  background-color: #f6f6f6;
  border: 1px solid #e1e1e1;
}

  .md-padding md-content md-tabs {
    border: 1px solid #e1e1e1; }
    .md-padding md-content md-tabs md-tab-content {
      background-color: #f6f6f6; }
.md-padding .edit-form input {
  width: 100%; }
.md-padding md-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
.md-padding md-tab[disabled] {
  opacity: 0.5; }
.md-padding label {
  text-align: left; }
.md-padding .long > input {
  width: 264px; }

