.titre{
  height: 25px;
  text-align: center;
  }

.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

.tab-content {
  background: #f6f6f6;
}

.md-whiteframe-2dp{
  margin: 10%;
}

.md-padding md-content {
  background-color: transparent !important; }
  .md-padding md-content md-tabs {
    border: 1px solid #e1e1e1; }
    .md-padding md-content md-tabs md-tab-content {
      background: #f6f6f6; }
    .md-padding md-content md-tabs md-tabs-wrapper {
      background: white; }
  .md-padding md-content h1:first-child {
    margin-top: 0; }
.md-padding md-input-container {
  padding-bottom: 0; }
.md-padding .remove-tab {
  margin-bottom: 40px; }
.md-padding .demo-tab > div > div {
  padding: 25px;
  box-sizing: border-box; }
.md-padding .edit-form input {
  width: 100%; }
.md-padding md-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
.md-padding md-tab[disabled] {
  opacity: 0.5; }
.md-padding label {
  text-align: left; }
.md-padding .long > input {
  width: 264px; }
.md-padding .md-button.add-tab {
  transform: translateY(5px); }




/* md-sidenav  {
      width:35%;height:100%;
      padding:20px;
      background-color: #6bc7cc;
    }

md-content {
      background-color : tan;
      height:100%;
      padding:20px;
    } */
