<!-- TEMPLATE HEADER-->
 <md-toolbar class="md-background">
    <div class="md-toolbar-tools">
      <md-button aria-label="Go Back" onclick="history.go(-1);">
         <md-icon md-svg-icon="../../images/home.svg"></md-icon>
      </md-button>
      <h2>
         <span>Interface Secretaire</span>
      </h2>
      <span flex></span>
      <md-button md-no-ink aria-label="Learn More" ng-click="$ctrl.displayInfo($event)">
      </md-button>
     </div>
</md-toolbar>

<!-- TEMPLATE BODY -->
<div class="md-whiteframe-2dp" ng-cloak>
  <md-toolbar >
    <div class="md-toolbar-tools">
      <h2>
        <span>Gestion des infimiers </span>
      </h2>
      <span flex></span>
    </div>
  </md-toolbar>
<!-- Afficher la liste des patients pour chaque Infirmier -->
  <md-content class="md-padding">
      <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom md-autoselect>
        	<md-tab ng-repeat="inf in $ctrl.data.objectInfirmiers | orderBy:inf.nom"
                  ng-disabled="tab.disabled"
                  label="{{inf.nom | uppercase}} {{inf.prenom}}"
                  ng-click="$ctrl.getOngletInfirmier(inf.id)">
          	<md-content md-tab-content
                        layout="row"
                        ng-drop="true"
                        ng-drop-success="$ctrl.onDropPatient($data)">
            		<md-list  class="tableau-infirmier"
                          ng-repeat="patientX in inf.patients"
                          layout="row"
                          layout-padding>
                      <!-- <md-content layout="row"
                                  ng-drag="true"
                                  ng-drag-data="obj"> -->
                    <div layout="row">
                      <div layout="column">
                        <!-- affiche un patient -->
              					<patient data="patientX" layout-padding></patient>

                        <!-- actions sur un patient-->
                        <md-button  class="md-secondary md-raised"
                                    ng-click="$ctrl.desaffecterPatient(patientX.id)">
                          Désaffecter</md-button>
                        <md-button  class="md-secondary md-raised"
                                    ng-click="$ctrl.supprimerPatient(patientX.id)">
                          Supprimer</md-button>

                        </div>
                    </div>
            		</md-list-item>
  	        </md-content>
        	</md-tab>
      </md-tabs>
  </md-content>
  </br>


<!-- Ajouter un patient au tableau -->
  <md-toolbar >
    <div class="md-toolbar-tools">
      <h2><span>Ajouter un patient</span></h2>
      <span flex></span>
      <md-button ng-click= "$ctrl.showFormulaire()" class="md-icon-button" aria-label="More">
        	<md-icon md-svg-icon="../../images/svg/design/ic_expand_more_48px.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout-margin layout-align="center">
    <formulaire-new-patient data="$ctrl.data"
                            ng-show="$ctrl.formulaire == true"
                            on-validation="$ctrl.updateInfirmiers()">
    </formulaire-new-patient>
  </md-content>

<!-- Liste des patients restants de patient restant -->
	<md-toolbar >
    <div class="md-toolbar-tools">
      <h2><span>Patients non affectés</span></h2>
      <span flex></span>
      <md-button ng-click= "$ctrl.showPatientsRestants()" class="md-icon-button" aria-label="More">
        <md-icon md-svg-icon="../../images/svg/design/ic_expand_more_48px.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
    <div class="superman" ng-show="$ctrl.patientsRestants == true" layout="row" layout-margin>
      <md-list class="md-whiteframe-4dp"
            ng-repeat="patientY in $ctrl.data.objectPatients"
            ng-if="patientY.infirmier == null"
            ng-drag="true"
            ng-drag-data="patientY.id"
            ng-drag-handle="true">
        <div class="superman">
          <patient data="patientY"></patient>
        </fiv>
      </md-list>
    </div>

<!-- fin du div md-whiteframe -->
</div>
</div>






